NODE_ENV=production
PORT=4000
APP_AUTH_SECRET=replace_with_the_output_of_openssl_rand_hex_32
FLARESOLVERR_URL=http://flaresolverr:8191/v1
TMDB_API_KEY=
BANGUMI_API_KEY=
WEBDAV_URL=
WEBDAV_USERNAME=
WEBDAV_PASSWORD=
LOCAL_SUBTITLE_DIR=/app/data/local-subtitles
